In [2]:
import pandas as pd

df = pd.read_csv('glassdoor_jobs.csv')

In [3]:
import numpy as np

In [4]:
#df.shape

In [5]:
#df.dtypes

In [6]:
#df.head()

In [7]:
# goal for cleaning
# parsing salary
# company name text only
# state field
# age of company
# parsing job description (python, etc.)

In [8]:
## parsing salary

In [9]:
# there are some missings in the rows 'Salary Estimate', extract the valid ones
df = df[df['Salary Estimate']!= '-1']

In [38]:
#df.head()

In [11]:
# get rid of the () in the 'Salary Estimate' column, by '(', the result is a list, and the first ele is needed.
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [31]:
#salary.shape

In [30]:
#salary.head()

In [40]:
# get rid of K and $ in the salary colomn
minus_k = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [39]:
#minus_k.head()

In [16]:
# there are some hourly pay and employer_provided pay in the dataframe, to make the dataframe look tight, we need to handle them
# add columns that show hourly pay and e pay
df['hourly']=df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided']=df['Salary Estimate'].apply(lambda x: 1 if 'employer_provided' in x.lower() else 0)

In [17]:
# sort the dataframe by 'hourly' column, descendingly, checking that adding hourly column correctly
#df.sort_values(by='hourly',ascending=False)

In [18]:
# after sorting the target column, re-order the dataframe on the index
#df.sort_index()

In [44]:
# this piece of code display the entire data frame, even with job description, the function is like a pop out window in spyder
#with pd.option_context(
    #'display.max_colwidth', None,
#                       'display.max_columns', None,
#                       'display.max_rows', None):
#    display(df)

def show_DataFrame(df):
    with pd.option_context(
    #'display.max_colwidth', None,
                       'display.max_columns', None,
                       'display.max_rows', None):
        display(df)

In [20]:
min_hr = minus_k.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary:',''))

In [21]:
df['min_salary'] = min_hr.apply(lambda x: int(x.split('-')[0]))
df['max_salary'] = min_hr.apply(lambda x: int(x.split('-')[1]))

In [22]:
# this piece of code display the entire data frame, even with job description, the function is like a pop out window in spyder
#with pd.option_context(
    #'display.max_colwidth', None,
#                       'display.max_columns', None,
#                       'display.max_rows', None):
#    display(df)

In [24]:
df['avg_salary'] =(df.min_salary + df.max_salary)/2

In [25]:
# #company name text only

In [36]:
# In the video -3 is used, some how in the data the '\n' didn't word, -4 is used to get rid of the symble
df['Company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating']<0 else x['Company Name'][:-4],axis = 1)

In [ ]:
##state field

In [49]:
df['job_state'] = df['Location'].apply(lambda x: x.split(',')[1])

In [55]:
#df.drop(['job state'],axis=1)

In [65]:

#show_DataFrame(df)

In [51]:
#df.job_state.value_counts()

In [56]:
## age of company

In [58]:
df['same_state'] = df.apply(lambda x: 1 if x.Location == x.Headquarters else 0, axis =1)

In [60]:
df['age']=df.Founded.apply(lambda x: x if x<1 else 2023 -x)

In [62]:
##paring the job description

In [71]:
#df['Job Description'][0]

In [72]:
###python

In [73]:
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

In [75]:
#df.python_yn.value_counts()

In [76]:
df['R_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower()  else 0)

In [77]:
df['spark'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

In [78]:
df['aws'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

In [79]:
df['excel'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [80]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'hourly', 'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'Company_txt', 'job state', 'job_state', 'same_state', 'age',
       'python_yn', 'R_yn', 'spark', 'aws', 'excel'],
      dtype='object')

In [85]:
df_out = df.drop(['Unnamed: 0'],axis =1)

In [ ]:
show_DataFrame(df)

In [82]:
df_out.to_csv('salary_data_cleaned.csv',index=False)

In [83]:
test = pd.read_csv('salary_data_cleaned.csv')